.heroSplide{
    .splide {
        height: 100%;
    
        &__slide {
            @apply padding-x flex md:flex-row flex-col-reverse justify-center;
    
            .slide {
                width: 100%;
    
                h3 {
                    mix-blend-mode: difference;
                    font-size: 5rem;
                }
            }
        }
    
        &__pagination {
            mix-blend-mode: difference;
            &__page {
                width: 20vw;
                border-radius: 10px;
                background-color: rgba($color_prime, 0.5);
    
                &.is-active {
                    transform: scale(1);
                    width: 20vw;
                    border-radius: 50px;
                    background-color: $color_prime;
                }
    
            }
        }
    }
}
.sectionSplide{
    .splide{

        &__pagination {
            mix-blend-mode: difference;
            top: 30%;
            &__page {
                width: 15vw;
                border-radius: 10px;
                background-color: rgba($color_prime, 0.5);
    
                &.is-active {
                    transform: scale(1);
                    border-radius: 50px;
                    background-color: $color_prime;
                }
    
            }
        }
    }

}
.vehicles {
    &-section {
        height: 45vh;
        min-height: 100px;
        max-height: 200px;
        transition: all 0.5s;
        position: relative;

        div {
            @include backgroundGradient(0.4)
        }

        p {
            text-wrap: nowrap;
            position: absolute;
            top: 40%;
            opacity: 0;
            margin-top: 10px;
            transition: all 0.7s;
        }

        &:hover {
            min-height: 50vh;

            p {
                opacity: 1;
                top: 60%;
            }
        }
    }
}

.mars {
    animation: planetRase 5s linear 2s infinite alternate;

    @keyframes planetRase {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-30px);
        }
    }
}

#learn{
    .splide__slide{
        padding: 0;
    }
}
